[submodule "ocgcore"]
	path = ocgcore
	url = https://github.com/Fluorohydride/ygopro-core.git
[submodule "script"]
	path = script
	url = https://github.com/Fluorohydride/ygopro-scripts.git
[submodule "pics"]
	path = pics
	url = https://github.com/fallenstardust/YGOMobile-pics.git
[submodule "field"]
	path = field
	url = https://github.com/moecube/ygopro-images-field.git
