1 ICON "YGO-VI2.ico"

1 VERSIONINFO
FILEVERSION 1, 0, 34, 2
PRODUCTVERSION 1, 0, 34, 2
FILEOS 0x4
FILETYPE 0x1

BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "080404b0"
BEGIN
VALUE "FileDescription", "YGO-VI"
VALUE "InternalName", "YGO-VI"
VALUE "LegalCopyright", "Copyright (C) 2018 Fluorohydride"
VALUE "OriginalFilename", "YGO-VI"
VALUE "ProductName", "YGO-VI"
VALUE "FileVersion", "1.034.2"
VALUE "ProductVersion", "1.034.2"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x804, 1200
END
END
